.detail {
  max-width: 1200px;
  min-height: 80vh;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
  text-align: center;
  border-radius: 1rem;
}

.detail__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 5rem;
}

.detail__description {
  font-size: 1.25rem;
  margin: 0 7rem 5rem 7rem;
}

.detail_img_container {
  min-width: 10rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  font-size: 1.5rem;
}
